@charset "UTF-8";

/*
    Paletas de Cores
    
    cinza: #262626
    cinza-escuro: #131313
    preto: #000000

    link das cores: https://paletadecores.com/paleta/262626/1d1d1d/131313/0a0a0a/000000/ 
    
*/